.registration_header{
  height: 128px;
  min-width: 768px;
  text-align: center;
    h1 {
    width: 193px;
    height: 49px;
    display: inline-block;
    margin: 40px 0 0;
      a{
        margin: 0 8px 0 0;
        height: 185px;
        height: 49px;
      }
    .mercari_img{
      line-height: 49px;
      vertical-align: middle;
    }
  }
}