
.registration-index{

  .registration_header{
    height: 128px;
    min-width: 768px;
    text-align: center;
      h1 {
      width: 193px;
      height: 49px;
      display: inline-block;
      margin: 40px 0 0;
        a{
          margin: 0 8px 0 0;
          height: 185px;
          height: 49px;
        }
      .mercari_img{
        line-height: 49px;
        vertical-align: middle;
      }
    }
  }

  .registration_footer{
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: -10;
    left: 0;
    box-sizing: border-box;
    nav{
      ul{list-style: none;
        padding: 0;
        margin: 0;
        font-size: 12px;
        .first{
            margin: 0
          }
        li{ margin: 0 0 0 16px;
            display: inline-block;
          a{text-decoration: none;
            display: block;
            color: #333;
            font-size: 12px;
          }
        
        }
      }
    }
    .footer_logo{
      margin: 40px auto 0;
    }
    p{font-size: 14px;
      margin: 0;
      small{
        font-size: 13px 75%;
      }
    }
  }

.registration-container{
  height: 384px;
    &__main{
      width: 700px;
      height: 384px;
      margin: 0 auto;
      background-color: #fff;
      &__header{
        width: 700px;
        height: 97px;
        text-align: center;
        border-bottom: 1px solid #f5f5f5;
        &__text{
          padding: 32px;
          margin: 0;
          font-size: 22px;
        }
      }
      &__content{
        width: 700px;
        height: 247px;
        padding: 40px 40px 64px;
        box-sizing: border-box;
        &__btn-box{
          max-width: 343px;
          margin: 0 auto;
          box-sizing: border-box;
          .sign_up_mail-adress{
            display: block;
            text-decoration: none;
            background-color: #ea352d;
            color: #fff;
            line-height: 48px;
            border-radius: 4px;
            font-size: 14px;
            text-align: center;
            border: 1px solid transparent;
            position: relative;
            .mail_icon{
              position: absolute;
              top: 50%;
              left: 16px;
              font-size: 20px;
              font-weight: 400px;
              display: inline-block;
              transform: translate(0, -50%);
            }

          }
          .sign_up_Facebook{
            display: block;
            width: 100%;
            color: #fff;
            background-color: #385185;
            line-height: 48px;
            border-radius: 4px;
            font-size: 14px;
            border: 1px solid transparent;
            margin: 16px 0 0;
            padding: 0;
            position: relative;
            cursor: pointer;
            .facebook_icon{
              position: absolute;
              top: 50%;
              left: 16px;
              font-weight: 400px;
              font-size: 31px;
              display: inline-block;
              transform: translate(0, -50%);
              color: #fff;


            }
          }
          .sign_up_Google{
            background: #fff
            url('google_img')
            no-repeat 3px top;
            display: block;
            width: 100%;
            line-height: 48px;
            background-color: #fff;
            border-radius: 4px;
            font-size: 14px;
            border: #979797 solid 1px;
            margin: 16px 0 0;
            padding: 0;
            cursor: pointer;
          }
        }
      }
    }
  }
}