-# .body
-#   .header
-#     .header__upper
-#       .header__upper__right

-#     .header__lower
-#       .header__lower__left
-#         .header__lower__left__category-search
-#         .header__lower__left__brand-search

-#   .footer
-#     .footer-about
-#       %h2.footer-about__title メルカリについて
-#       %ul.footer-about__list
-#         %li.footer
-#           %a.sc-kNBZmU.iWAEfH{:href => "https://about.mercari.com/"} 会社概要（運営会社）
-#         %li.sc-jRuhRL.cbYKEG
-#           %a.sc-kNBZmU.iWAEfH{:href => "/jp/jobs/"} 採用情報
-#         %li.sc-jRuhRL.cbYKEG
-#           %a.sc-kNBZmU.iWAEfH{:href => "https://about.mercari.com/press/news/"} プレスリリース
-#         %li.sc-jRuhRL.cbYKEG
-#           %a.sc-kNBZmU.iWAEfH{:href => "https://jp-news.mercari.com/", :target => "_blank"} 公式ブログ
-#         %li.sc-jRuhRL.cbYKEG
-#           %a.sc-kNBZmU.iWAEfH{:href => "/jp/logo-guidelines/"} メルカリロゴ利用ガイドライン
-#         %a.sc-eopZyb.icmRxI{:href => "https://twitter.com/mercari_jp", :target => "_blank"}
-#           %svg.sc-bRBYWo.sc-eEieub.iQCNqi{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 21 16", :width => "21"}
-#             %path{:d => "M6.343 15.969c7.61 0 11.773-6.134 11.773-11.444 0-.172 0-.345-.008-.517a8.303 8.303 0 0 0 2.066-2.086 8.576 8.576 0 0 1-2.38.635A4.07 4.07 0 0 0 19.616.329a8.377 8.377 0 0 1-2.63.973 4.186 4.186 0 0 0-3.019-1.27c-2.283 0-4.14 1.803-4.14 4.023 0 .314.041.62.106.918A11.866 11.866 0 0 1 1.404.769a3.936 3.936 0 0 0-.557 2.023c0 1.396.735 2.628 1.84 3.35a4.278 4.278 0 0 1-1.872-.503v.055c0 1.945 1.428 3.577 3.317 3.945-.347.094-.71.141-1.09.141-.266 0-.524-.023-.774-.07.524 1.6 2.057 2.76 3.865 2.792a8.452 8.452 0 0 1-5.14 1.725 8.19 8.19 0 0 1-.985-.054 12.02 12.02 0 0 0 6.335 1.796", :fill => "currentColor", "fill-rule" => "evenodd"}
-#         %a.sc-eopZyb.icmRxI{:href => "https://www.facebook.com/mercarijp", :target => "_blank"}
-#           %svg.sc-kEYyzF.sc-eNNmBn.gJZiyP{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 16 16", :width => "16"}
-#             %path{:d => "M15.111 0H.89A.889.889 0 0 0 0 .889V15.11c0 .491.398.889.889.889h7.658V9.813H6.469V7.391h2.078V5.613c0-2.066 1.262-3.193 3.11-3.193.623-.002 1.244.03 1.863.096v2.15h-1.276c-1.002 0-1.197.478-1.197 1.178v1.543h2.397l-.31 2.422h-2.087V16h4.064c.491 0 .889-.398.889-.889V.89A.889.889 0 0 0 15.111 0z", :fill => "currentColor", "fill-rule" => "evenodd"}
-#     .sc-cBrjTV.hHaGTu
-#       %h2.fotter-about__title ヘルプ＆ガイド
-#       %ul.footer-about__list
-#         %li.sc-jRuhRL.cbYKEG
-#           %a.sc-kNBZmU.iWAEfH{:href => "/jp/help_center/"} メルカリガイド
-#         %li.sc-jRuhRL.cbYKEG
-#           %a.sc-kNBZmU.iWAEfH{:href => "/jp/rakuraku-mercari/"} らくらくメルカリ便
-#         %li.sc-jRuhRL.cbYKEG
-#           %a.sc-kNBZmU.iWAEfH{:href => "/jp/yuyu-mercari/"} ゆうゆうメルカリ便
-#         %li.sc-jRuhRL.cbYKEG
-#           %a.sc-kNBZmU.iWAEfH{:href => "/jp/rakuraku-ogata/"} 大型メルカリ便
-#         %li.sc-jRuhRL.cbYKEG
-#           %a.sc-kNBZmU.iWAEfH{:href => "/jp/guide/car/"} 車体取引ガイド
-#         %li.sc-jRuhRL.cbYKEG
-#           %a.sc-kNBZmU.iWAEfH{:href => "/jp/safe/description/", :target => "_blank"} メルカリあんしん・あんぜん宣言！
-#         %li.sc-jRuhRL.cbYKEG
-#           %a.sc-kNBZmU.iWAEfH{:href => "/jp/authenticity/"} 偽ブランド品撲滅への取り組み
-#         %li.sc-jRuhRL.cbYKEG
-#           %a.sc-kNBZmU.iWAEfH{:href => "/jp/box/"} メルカリボックス
-#     .sc-cBrjTV.sc-iCwjlJ.aWegH
-#       %h2.footer-about_title プライバシーと利用規約
-#       .sc-jUpvKA.dzjMfv
-#         %ul.sc-jdfcpN.ewFVzB
-#           %li.sc-jRuhRL.cbYKEG
-#             %a.sc-kNBZmU.iWAEfH{:href => "/jp/privacy/"} プライバシーポリシー
-#           %li.sc-jRuhRL.cbYKEG
-#             %a.sc-kNBZmU.iWAEfH{:href => "/jp/tos/"} メルカリ利用規約
-#           %li.sc-jRuhRL.cbYKEG
-#             %a.sc-kNBZmU.iWAEfH{:href => "/jp/tos_smartphone_support/"} あんしんスマホサポート制度に関する利用特約
-#           %li.sc-jRuhRL.cbYKEG
-#             %a.sc-kNBZmU.iWAEfH{:href => "/jp/compliance/"} コンプライアンスポリシー
-#       .sc-jUpvKA.dzjMfv
-#         %ul.sc-jdfcpN.ewFVzB
-#           %li.sc-jRuhRL.cbYKEG
-#             %a.sc-kNBZmU.iWAEfH{:href => "/jp/data_security/"} 個人データの安全管理に係る基本方針
-#           %li.sc-jRuhRL.cbYKEG
-#             %a.sc-kNBZmU.iWAEfH{:href => "/jp/tokutei/"} 特定商取引に関する表記
-#           %li.sc-jRuhRL.cbYKEG
-#             %a.sc-kNBZmU.iWAEfH{:href => "/jp/shikin_kessai/"} 資金決済法に基づく表示
-#           %li.sc-jRuhRL.cbYKEG
-#             %a.sc-kNBZmU.iWAEfH{:href => "https://about.mercari.com/csr/safety/"} 法令順守と犯罪抑止のために
-#     .sc-cBrjTV.sc-fkyLDJ.doTCXK
-#       %h2.style_heading__3qSF6.common_fontFamily__3-3Si.style_medium__1YL67.sc-hMrMfs.cPzMyz 国
-#       %ul.sc-jdfcpN.ewFVzB
-#         %li.sc-jRuhRL.cbYKEG
-#           %a.sc-kNBZmU.sc-RbTVP.hIUIIb{:href => "/jp/"} 日本
-#           %a.sc-kNBZmU.sc-RbTVP.hIUIIb{:href => "/"} United States