  .bread_li_footer{
  width: 100%;
  height: 49px;
  background: #f5f5f5;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  border-top: 1px solid #eee;
  .fa-chevron-right:before {
    color: #888;
    font-family: FontAwesome;
    content: "\f054";
    font-size: 9px;
    margin: 0 8px;
    font-style: normal;
    line-height: 1;
  }
  .breadcrumbs{
    position: relative;
    border-top: 1px solid #eee;
    background: #f5f5f5;
    height: 48px;
    font-size: 14px;
    padding: 16px;
    display: flex;
    width: 1050px;
    margin: 0 auto;
    box-sizing: border-box;
    li.current{
      font-weight: 600;
    }
    a{
      color: #333;
    }
  }
}