
.b-container__main__picturebox{
  padding: 40px;
  height:330px;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}


.b-container__main__submit{
  height: 245px;
  width: 700px;
  background-color: white;
  border-top: 1px solid #eee;
  padding: 40px;
}