body {
  background: rgb(245, 245, 245);
}

.my-contents {
  width: 1020px;
  margin: 40px auto;
  .side-bar {
    width: 300px;
    margin: 0 40px 0 0;
    float: left;
    .mypage {
      .mypage-list {
        padding: 0;
        margin: 0;
        .mypage-list-item {
          display: block;
          padding: 16px;
          margin: 0.05rem;
          font-size: 14px;
          list-style: none;
          position: relative;
          background-color: #fff;
          cursor: pointer;
          .icon-arrow-right {
            position: absolute;
            top: 30%;
            right: 16px;
            color: #ccc;
          }
        }
      }
      .mypage-head {
        margin-top: 40px;
      }
    }
  }
  .logout-content {
    width: 680px;
    float: left;
    background-color: #fff;
    .logout-box {
      padding: 64px;
      max-width: 320px;
      margin: 0 auto;
      .logout-btn {
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
      }
      .btn-red {
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
      }
    }
  }
}