
.a-container{
  height: 2200px;
    &__main{
      width: 700px;
      height: 384px;
      margin: 0 auto;
      background-color: #fff;
        &__header{
          width: 700px;
          height: 97px;
          text-align: center;
          border-bottom: 1px solid #f5f5f5;
            &__text{
              padding: 32px;
              margin: 0;
              font-size: 22px;
              font-weight:600;
            }
        }
        &__picturebox{
          padding: 40px;
          height:320px;
          position: relative;
          background-color: #fff;
          border-bottom: 1px solid #eee;
            .label{
              font-weight: 600;
              font-size: 14px;
              vertical-align: bottom;
              margin-bottom: 3px;
              position: relative;
            }
            .required{
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
              background: #ea352d;
            }
            .text{
              margin: 8px 0 0;
              line-height: 1.5;
            }
            &__drop{
            width:100%;
            height: 162px;
            background-color:rgb(246, 246, 246);
            border-style: dashed;
            border-width: 1px;
            border-color: lightgray;
            line-height: 30px;
            text-align: center;
                  &__input{
                    width:100%;
                    height: 162px;
                    opacity: 0;
                    background-color: lightgray;
                  }
            }
        }
        
        &__name{
          width: 100%;
          height: 355px;
          padding: 30px 40px 40px 40px;
          background-color: #fff;
            .label{
              font-weight: 600;
              font-size: 14px;
              vertical-align: bottom;
            }
            .required{
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
              background: #ea352d;
              margin: 2px 4px;
            }
            .name-input{
              width: 100%;
              margin: 8px 0 0;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }
            .a-container__main__name__details{
              margin-top: 40px;
              .details-input{
                margin: 8px 0 0;
                display: block;
                width: 100%;
                height:142px;
                max-width: 100%;
                min-height: 104px;
                padding: 10px;
                border: 1px solid #ccc;
                background: #fff;
                font-size: 16px;
                line-height: 1.5;
                word-break: break-all;
                overflow: auto;
              } 
            }
        }
        &__details{
          height: 361px;
          width: 700px;
          background-color:white;
          border-top: 1px solid #eee;
          padding: 40px;
          &__text{
            float: left;
            color: #888;
            display: block;
            font-size: 1.17em;
            font-weight: bold;
          }
          &__box{
            float: right;
            width: 400px;
            &__upper{
              .label{
                font-weight: 600;
                font-size: 14px;
                vertical-align: bottom;
              }
              .required{
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                background: #ea352d;
              }
              &__category{
                height: 48px;
                width: 400px;
                padding: 0 16px;
                background-color: #fff;
                border-color: 166, 166, 166;
              }
            }
            &__center{
              margin-top: 40px;
              .label{
                font-weight: 600;
                font-size: 14px;
                vertical-align: bottom;
              }
              .required{
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: white;
                font-size: 12px;
                vertical-align: top;
                background: lightgray;
              }
              &__brand{
                height: 48px;
                width: 400px;
                padding: 0 16px;
                background-color: #fff;
                border-color: 166, 166, 166;
              }
            }
            
              &__bottom{
                margin-top: 40px;
                .label{
                  font-weight: 600;
                  font-size: 14px;
                  vertical-align: bottom;
                }
                .required{
                  margin: 0 0 0 8px;
                  padding: 2px 4px;
                  border-radius: 2px;
                  color: #fff;
                  font-size: 12px;
                  vertical-align: top;
                  background: #ea352d;
                }
                &__status{
                  height: 48px;
                  width: 400px;
                  padding: 0 16px;
                  background-color: #fff;
                  border-color: 166, 166, 166;
                }
              }
          }
        }
        &__delivery{
          height: 470px;
          width:100%;
          background-color: #fff;
          border-top: 1px solid #eee;
          padding: 40px;
          
          &__text{
            float: left;
            color: #888;
            display: block;
            font-weight: bold;
            .question{
              color: #0099e8;
            }
          }
          &__box{
            float: right;
            width: 400px;
            &__upper{
              
              .label{
                font-weight: 600;
                font-size: 14px;
                vertical-align: bottom;
              }
              .required{
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                background: #ea352d;
              }
              &__select{
                width:400px;
                height: 48px;
                padding:0 16px;
                background-color: #fff;
              }
            }
            &__add-for-fix{
              margin-top: 40px;
              .label{
                font-weight: 600;
                font-size: 14px;
                vertical-align: bottom;
              }
              .required{
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                background: #ea352d;
              }
            }
            &__middle{
              margin-top:40px;
              .label{
                font-weight: 600;
                font-size: 14px;
                vertical-align: bottom;
              }
              .required{
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                background: #ea352d;
                margin: 2px 4px;
              }
                select{
                  width:400px;
                  height: 48px;
                  background-color: white;
                  padding: 0 16px;
                }
            }
            &__bottom{
              margin-top: 40px;
              .label{
                font-weight: 600;
                font-size: 14px;
                vertical-align: bottom;
              }
              .required{
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                background: #ea352d;
                margin: 2px 4px;
              }
              &__select{
                width:400px;
                height: 48px;
                background-color: white;
              }
            }
          }
        }
        &__price{
          height: 299px;
          width:100%;
          background-color: #fff;
          border-top: 1px solid #eee;
          padding: 40px;
            
            &__text{
              float: left;
              color: #888;
              display: block;
              font-weight: bold;
              .question{
                color: #0099e8;
              }
            }
            &__box{
              float: right;
              height:218px;
              width:400px;
              &__upper{
                height:218px;
                width:400px;
                &__list{
                  height: 72px;
                  width: 400px;
                  border-bottom: 1px solid #eee;
                  display:flex;
                  position: relative;
                    &__left{
                      display:inline;
                      width: 220px;
                        .label{
                          font-weight: 600;
                          font-size: 14px;
                          vertical-align: bottom;
                          color: black;
                          height:48px;
                          width:200px;
                          line-height: 48px;
                        }
                        .required{
                          margin: 0 0 0 8px;
                          padding: 2px 4px;
                          border-radius: 2px;
                          color: #fff;
                          font-size: 12px;
                          vertical-align: top;
                          background: #ea352d;
                          line-height: 48px;
                        }
                    }
                    &__right{
                      height:48px;
                      width:180px;
                      position: relative;
                      line-height: 70px;
                    }
                      .price-input{
                        width: 160px;
                        height: 48px;
                        padding: 10px 16px 8px;
                        border-radius: 4px;
                        border: 1px solid #ccc;
                        background: #fff;
                        line-height: 1.5;
                        font-size: 16px;
                        position: absolute;
                        top:10px;
                        right:-0px;
                        text-align: right;
                      }
                    
                &__text{
                  padding: 24px 0;
                }
                &__hyphen{
                  position: absolute;
                  top: 24px;
                  right: 10px;
                }
                  &__last{
                    height: 72px;
                    width: 400px;
                    display: flex;
                    justify-content: space-between;
                    position : relative;
                      &__benefit{
                        padding: 24px 0;
                        font-weight: 600;
                        display: inline-block;
                      }
                      &__hyphen{
                        font-weight: 600;
                        display: inline-block;
                        position: absolute;
                        top: 30px;
                        right: 10px;
                        font-weight: 600;
                      }
                  }
                }
            }
          }
        }
        &__submit{
          height: 329px;
          width: 700px;
          background-color: white;
          border-top: 1px solid #eee;
          padding: 40px;
          .link-color{
            color:#0099e8;
          }

          &__next{
            color: white;
              margin: 40px 0 0;
              height:50px;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
              text-align: center;
              background: #ea352d;
              border: 1px solid #ea352d;
            

          }
          &__back{
            color: white;
            width: 45%;
            height:50px;
            margin: 24px auto 0;
            background: #aaa;
            border: 1px solid #aaa;
            text-align: center;
            display: block;
            line-height: 48px;
            .back-btn{
              .back-btntext{
                line-height: 48px;
                color: white;
                width: 45%;
                margin: 24px auto 0;
                background: #aaa;
                border: 1px solid #aaa;
                text-align: center;
                display: block;
              }
            }
          }
        }
  }
}