.registration-index
  = render 'devise/registrations/header'
  %section.buy-container
    %h2.buy-container__head 購入内容の確認
    %section.buy-container__item
      .buy-container__item__inner
        = image_tag "https://static.mercdn.net/thumb/photos/m87056738576_1.jpg?1572929248", size: "64 x 64"






















































  = render 'devise/registrations/footer'