.registration_container{
  &__main{
    &__contents{
      width: 700px;
      margin: 0 auto;
      background:#fff;
      #prefecture_id{
    width: 100%;
    text-align: center;
  }
  span.free{
      background: #aaa;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
    }
      &__head{
        h2{
          text-align: center;
          font-size: 22px;
          font-weight: bold;
          padding: 32px;
        }
      }
    }
  }
}