
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
    .header{
      height: 100px;
      width: 100vw;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
      position: relative;
      z-index: 3;

        .header-box{
          margin: 0px auto;
          padding-top: 8px;
          width: 1020px;
        }

          .header-upper{
            height: 40px;
            background-color:white;
            display: flex;
              .header-upper-left{
                -webkit-box-align: center;
                align-items: center;
                display: flex;
                height: 40px;
                margin-right: 45px;
                width: 134px;
              
                  .header-upper-left__link{
                    display:inline;
                  }
                  .head-upper-left__img{
                    height: 40px;
                  }
              }
              .header-upper-right{
                height: 40px;
                width: calc(100% - 174px);
                position: relative;

                  .header-upper-right-search{
                    height: 40px;
                    // width: calc(100% - 174px);
                    width:100%;
                    background-color: rgb(245, 245, 245);
                    font-size: 16px;
                    line-height: 1.4em;
                    position: relative;
                    -webkit-appearance: none;
                    border-width: 1px;
                    border-style: solid;
                    border-color: rgb(204, 204, 204);
                    border-image: initial;
                    border-radius: 4px;
                    outline: none;
                    padding: 0px 50px 0px 10px;
                    transition: all 0.3s ease-out 0s; 
                  }

                  .soul{
                    position:absolute;
                    right: 1px;
                    top: 2px;
                    width: 40px;
                    padding: 3px;
                    font-size: 14px;
                    border-radius: 4px;
                    background-color: rgb(245, 245, 245);
                    border: none;
                  }
                  .fa-search{
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    width: 40px;
                    padding: 12px;
                    font-size: 14px;
                    cursor: pointer;
                    color: rgb(34,34,34)             
                  }
              }
          }
          .header-lower{
            height: 44px;
            margin-top: 8px;
            background-color: white;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
              .header-lower-left{
                height: 44px;
                display: flex;
                margin-left: -3px;
                vertical-align: baseline;
                margin: 0px;
                padding: 0px;
                border-width: 0px;
                border-style: initial;
                border-color: initial;
                border-image: initial;
                font: inherit;
                width:400px;
                
                  .header-lower-left-category-search{
                    background-color: white;
                    height: 44px;
                    width:300px;
                    font-family: Arial;
                    display: flex;
               
                    position:relative;
                    justify-content: space-between;


                      &__category-icon{
                        color:black;
                        margin: 6px 5px 0 0;
                        height: 22px;
                        font-weight: 600;
                        font-size: 14px;

                        .upper-list{
                          color: red;
                        }
                      }
                      &__category-guide{

                        display: block;
                        position: absolute;
                        top: -2px;
                        left: 150px;
                        height: 100%;

                        color:black;
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 36px;
                        white-space: nowrap;

                        .upper-tag{
                          color: red;
                        }
                      }
                  }
                  .header-lower-left-brand-search{
                    background-color: white;
                    height: 44px;
                    
                    padding-left:10px;
                    font-family: Arial;
                    display: flex;
                     &__brand-icon{
                        color: red;
                        margin: 5px 5px 0 0;
                        height: 26px;
                        width: 18px;

                      }
                      &__brand-guide{
                        color:black;
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 36px;
                        white-space: nowrap;
                      }

                    
                  }
              }
              .header-lower-right{
                display: flex;
                .header-lower-right-new{
                  text-align: center;
                  &__icon{
                    background-color: rgb(234, 53, 45);
                    color: rgb(255, 255, 255);
                    display: block;
                    font-size: 14px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: rgb(234, 53, 45);
                    border-image: initial;
                    border-radius: 4px;
                    padding: 8px 10px;
                  }
                }
                .header-lower-right-login{
                  text-align: center;
                  margin-left: 11px;
                  &__icon{
                    background-color: rgb(255, 255, 255);
                    color: rgb(0, 149, 238);
                    display: block;
                    font-size: 14px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: rgb(0, 149, 238);
                    border-image: initial;
                    border-radius: 4px;
                    padding: 8px 10px;
                    transition: all 0.3s ease-out 0s;
                  }
                }
              }  
                  
          }
      }


    
     

    .bottom-banner{
      display: block;
      color: rgb(255, 255, 255);
      background: url(https://web-jp-assets.mercdn.net/_next/static/images/download_app_bg-b57d6f1a32f2aebd89cf6f43bc2e4b39.jpg) center center / cover;
      background-position: center center;
      height: 260px;
       }

        .bottom-banner-background{
          color:white;
        }
        .bottom-banner-box{
          color:white;
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          width: 750px;
          margin: 0px auto;
          height: 100%;

            .bottom-banner-box-set{
              color:white;
              vertical-align: baseline;
              margin: 0px;
              padding: 0px;
              border-width: 0px;
              border-style: initial;
              border-color: initial;
              border-image: initial;
              font: inherit;
              display:flex;
                .bottom-banner-box-set-left{
                  color:white;
                    .bottom-banner-box-set-left-top{
                      color:white;
                      font-size: 24px;
                      font-weight: 600;
                      margin-top: 35px;
                      margin-bottom: 15px;
                    }
                    .bottom-banner-box-set-left-middle{
                      color: white;
                      font-size: 32px;
                      margin-bottom: 20px;
                    }
                    .bottom-banner-box-set-left-bottom{
                      height: 100%;
                        .bottom-banner-box-set-left-bottom-links{

                          .bottom-banner-box-set-left-bottom__mercari{
                            height: 68px;
                            margin-right: 20px;
                            width: 68px;
                          }
                          .bottom-banner-box-set-left-bottom__link__app{
                            padding-bottom: 15px;
                            // display: inline;
                          }
                          .bottom-banner-box-set-left-bottom__link__google{
                            padding-bottom: 15px;
                            display: inline;
                          }
                      }

                    }
                }
                .bottom-banner-box-set-right{
                  height: 260px;
                  width: 300px;
                  .bottom-banner-box-set-right__phone{
                    display: inline;
                    .bottom-banner-box-set-right__phone__img{
                      height: 260px;
                      width: 300px;
                    }
                  }
                }
            }
        }






    .footer{
      background-color: rgb(34, 34, 34);
      color: rgb(255, 255, 255);
      font-size: 12px;
      padding: 0px 20px 10px 20px;
        .footer-nav {
          width: calc( 100% - 420px);
          margin: 0 190px;
          display: flex;


            .footer-about{
              margin-top: 18px;
              width: auto;
              padding: 0px 40px 0px 0px;

              &__title{
                color: white;
                font-size: 16px;
                font-family: Arial;
                font-weight: 600;
                line-height: 1.4em;
              }

              &__list__contents{
                margin-top: 16px;
                color: white;
              }


              .footer-about__list__contents-twitter{
                display: inline;
                color: white;
                  .twitter{
                    color: white;
                    font-size: 26px;
                    margin:30px 15px 0 0 ;

                  }
                }

              .footer-about__list__contents-facebook{
                display: inline;
                color: white;
                .facebook{
                  color: white;
                  font-size: 26px;
                }
              }

              &__list__contents__name{
              color: lightgray;
              font-size: 12px;
              }
            }
            .footer-help{
              margin-top: 18px;
              padding: 0 40px 0 0;

            }
            .footer-privacy{
              margin-top: 18px;
              display: inline-block;
              vertical-align: top;
              margin-top: 18px;
              padding-right: 40px;
              width: 43%;
                &__title{
                  margin-block-start: 0.83em;
                  margin-block-end: 0.83em;
                  margin-inline-start: 0px;
                  margin-inline-end: 0px;
                  display: flex;
                }
                  &__left{
                    color:white;
                    float: left;
                    width: 45%;
                  }

                  &__right{
                    padding-left: 10px;
                    float: right;
                    width :45%;
                  }
            }
            .footer-country{
              margin-top: 18px;
              width: auto;
            }
        }      
    }
      .bottom{
        width: 1020px;
        margin: 30px auto 20px;
        -webkit-box-align: center;
        align-items: center;
        display: flex;
          &__icon__copywrites{
            text-align: center;
            padding-left: 15px;
            width: 75%;
          }
      }
}



a:-webkit-any-link{
  text-decoration: none;
}



@import "reset";
@import "pages";
@import "font-awesome";

